.footer__partner-caption_type_desktop {
  display: none;
}

@media screen and (min-width: 767px) {
  .footer__partner-caption_type_desktop {
    display: block;
    padding: 0;
    text-align: left;
  }
}
