.social-media__btn-box {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}

@media screen and (min-width: 720px) {
  .social-media__btn-box {
    padding-top: 0;
    min-height: 50px;
  }
}
