.from-school__content-direction {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (min-width: 828px) {
  .from-school__content-direction {
    flex-direction: row;
  }
}
