.header__social {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__social {
    display: flex;
    width: 257px;
    height: 100%;
    align-items: center;
    border-left: 1px solid #232323;
    border-right: 1px solid #232323;
    box-sizing: border-box;
  }
}