.social-media__btn {
  display: flex;
  position: relative;
  height: 25px;
  margin: 0 8px 0 0;
  padding-right: 8px;
  text-decoration: none;
  color: #242424;
  border-left: 1px solid #242424;
  border-bottom: 1px solid #242424;
  box-sizing: border-box;
  background: linear-gradient(to left, transparent 50%, #242424 50%) right;
  background-repeat: no-repeat;
  transition: background-position 0.4s, color 0.4s;
  background-size: 200%;
}

.social-media__btn:last-child {
  margin-right: 0;
}

.social-media__btn:hover {
  background-position: left;
  color: #ecebe8;
}

.social-media__btn:hover>.social-media__btn-text {
  color: #ecebe8;
}

.social-media__btn:hover>.social-media__btn-logo {
  filter: invert(100%) sepia(1%) saturate(1026%) hue-rotate(325deg) brightness(100%) contrast(85%);
}

.social-media__btn:active {
  transform: scale(1.1);
}