.social-media__btn {
  display: flex;
  position: relative;
  height: 25px;
  margin: 0 8px 0 0;
  padding-right: 8px;
  text-decoration: none;
  color: #242424;
  border-left: 1px solid #242424;
  border-bottom: 1px solid #242424;
  box-sizing: border-box;
  background-image: linear-gradient(#242424, #242424);
  background-repeat: no-repeat;
  transition: background-size 0.2s, color 0.2s, transform 0.1s;
  background-size: 0% 100%;
}

.social-media__btn:last-child {
  margin-right: 0;
}

.social-media__btn:hover {
  background-size: 100% 100%;
  color: #ecebe8;
}

.social-media__btn:hover > .social-media__btn-text {
  color: #ecebe8;
}

.social-media__btn:hover > .social-media__btn-logo {
  filter: invert(100%) sepia(1%) saturate(1026%) hue-rotate(325deg)
    brightness(100%) contrast(85%);
}

.social-media__btn:active {
  transform: scale(1.1);
}
