.from-school__files-button {
  visibility: hidden;

  box-sizing: border-box;
  background-color: unset;
  border: none;
  border-top: 1px solid #242424;
  height: 56px;

  padding: 0 15px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Formular";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;

  background-image: linear-gradient(#242424, #242424);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s, color 0.3s, visibility 0.2s;
  cursor: pointer;
}

.from-school__files-button:hover {
  background-size: 100% 100%;
  color: #ecebe8;
}

.from-school__files-button:hover>img {
  filter: invert(100%) sepia(1%) saturate(1026%) hue-rotate(325deg) brightness(100%) contrast(85%);
}

.from-school__files-button:active {
  transform: scale(1.1);
}