.from-school__files-download-panel {
  background-color: #b7c09d;

  display: flex;
  flex-direction: column;
}

.from-school__files-download-panel:hover > .from-school__files-button {
  visibility: visible;
}
