.social-media__image {
  height: 253px;
  box-sizing: border-box;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .social-media__image {
    margin: 0 15px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .social-media__image {
    margin: 0 55px;
    height: auto;
  }
}

@media screen and (min-width: 1280px) {
  .social-media__image {
    margin: 0 60px;
    height: auto;
  }
}
