.social-media__image {
  width: 414px;
  height: 253px;
  box-sizing: border-box;
  object-fit: cover;
  margin-bottom: 24px;
}

@media screen and (min-width: 720px) {
  .social-media__image {
    width: 91.666%;
    margin: 0 auto 24px;
    height: auto;
  }
}
