.footer__copyright {
  padding-bottom: 59px;
}

.footer__copyright:last-child {
  padding: 0;
}

@media screen and (min-width: 767px) {
  .footer__copyright {
    padding-right: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

@media screen and (min-width: 1279px) {
  .footer__copyright {
    gap: 32px;
  }
}
