.from-school__heading-container {
  box-sizing: border-box;

  padding: 0 24px 38px 24px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 828px) {
  .from-school__heading-container {
    width: 50%;
    padding-left: calc(24px + calc(6.66vw));
    padding-top: 4.3vw;
  }
}

@media (min-width: 1440px) {
  .from-school__heading-container {
    padding-top: 62px;
    padding-left: 120px;
  }
}
