.feedback__slide {
  max-width: 767px;
  min-height: 476px;
  padding: 72px 27px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .feedback__slide {
    margin-right: 15px;
    margin-left: 15px;
    min-height: 361px;
    padding: 33px 30px 24px;
  }
}