.from-school__event-time {
  margin: 0;
  padding: 0 0 16px calc(89px - 24px);

  font-family: "Neue Machina";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
}

@media (min-width: 1440px) {
  .from-school__event-time {
    padding-left: 4px;
  }
}
