.social-media__container {
  display: flex;
  flex-direction: column;
  padding: 24px 26px 100px;
}

@media screen and (min-width: 768px) {
  .social-media__container {
    margin: 0 auto;
    padding: 40px 0 100px;
    width: 716px;
  }
}
