.from-school__preview-image {
  width: 100%;
  height: 450px;
  object-position: center;
  object-fit: cover;
}

@media (min-width: 828px) {
  .from-school__preview-image {
    height: auto;
    object-fit: contain;
  }
}
