.header__projects-btn-text {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 0.88;
    text-align: right;
    color: #242424;
}