.from-school__description-paragraph {
  margin: 0;
  padding-bottom: 20px;

  text-indent: 50px;

  font-family: "Formular";
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-feature-settings: "ss01" on;
}

.from-school__description-paragraph:last-child {
  padding-bottom: 0;
}

.from-school__description-paragraph:first-child {
  text-indent: 0;
}
