.reviews__slide {
    max-width: 767px;
    padding: 77px 26px 72px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .reviews__slide {
        padding: 55px 40px 72px;
        max-width: 767px;
        width: 718px;
    }
}

@media screen and (min-width: 1024px) {
    .reviews__slide {
        padding: 55px 58px 72px;
        max-width: 823px;
        width: 718px;
    }
}

@media screen and (min-width: 1280px) {
    .reviews__slide {
        padding: 55px 88px 72px;
    }
}