.reviews__slide-button {
    width: 210px;
    height: 32px;
    margin-top: 32px;
    align-items: center;
    display: flex;
    text-decoration: none;
    position: relative;
    border-left: 1px solid #242424;
    border-bottom: 1px solid #242424;
    box-sizing: border-box;
    background: linear-gradient(to left, transparent 50%, #242424 50%) right;
    background-repeat: no-repeat;
    transition: background-position 0.4s, color 0.4s;
    background-size: 200%;
}

.reviews__slide-button:hover {
    background-position: left;
    color: #ecebe8;
}

.reviews__slide-button:hover>.reviews__slide-button-text {
    color: #ecebe8;
}

.reviews__slide-button:hover>.reviews__slide-button-img {
    filter: invert(1);
}

.reviews__slide-button:active {
    transform: scale(1.1);
}