.reviews__slide-button {
    width: 210px;
    height: 32px;
    margin-top: 32px;
    align-items: center;
    display: flex;
    text-decoration: none;
    position: relative;
    border-left: 1px solid #242424;
    border-bottom: 1px solid #242424;
    box-sizing: border-box;
    background-image: linear-gradient(#242424, #242424);
    background-repeat: no-repeat;
    transition: background-size 0.3s, color 0.3s, transform 0.2s;
    background-size: 0% 100%;
}

.reviews__slide-button:hover {
    background-size: 100% 100%;
    color: #ecebe8;
}

.reviews__slide-button:hover>.reviews__slide-button-text {
    color: #ecebe8;
}

.reviews__slide-button:hover>.reviews__slide-button-img {
    filter: invert(1);
}

.reviews__slide-button:active {
    transform: scale(1.1);
}