.footer {
  display: flex;
  flex-direction: column;
  padding: 56px 0 74px;
}

@media screen and (min-width: 767px) {
  .footer {
    padding-left: 32px;
    padding-right: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
  }
}

@media screen and (min-width: 900px) {
  .footer {
    display: grid;
    grid-template-rows: 80px 210px 10vh;
    grid-template-columns: 0.5fr 2fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 20px;
  }
}

@media screen and (min-width: 1279px) {
  .footer {
    display: grid;
    grid-template-rows: 80px 210px 6vh;
    column-gap: 36px;
  }
}

@media screen and (min-width: 1439px) {
  .footer {
    display: grid;
    grid-template-rows: 80px 210px 8vh;
    column-gap: 49px;
    padding-right: 92px;
  }
}
