.from-school__preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 100px;
}

@media (min-width: 828px) {
  .from-school__preview-container {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .from-school__preview-container {
    padding-bottom: 68px;
  }
}
