.from-school__files-block {
  align-self: center;
  width: 244px;
  cursor: pointer;
}

.from-school__files-block:hover > .from-school__files-button {
  visibility: hidden;
}

@media (min-width: 828px) {
  .from-school__files-block {
    padding-left: 0;
    align-self: unset;
  }
}
