.header__support-btn {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__support-btn {
    margin: 0;
    padding: 0;
    width: 164px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    border: none;
    box-sizing: border-box;
    background: linear-gradient(to left, transparent 50%, #242424 50%) right;
    background-repeat: no-repeat;
    transition: background-position 0.4s, color 0.4s;
    background-size: 200%;
  }

  .header__support-btn:hover {
    background-position: left;
    color: #ecebe8;
  }

  .header__support-btn:hover>.header__support-btn-text {
    color: #ecebe8;
  }

  .header__support-btn:hover>.header__support-btn-img {
    filter: invert(1);
  }

  .header__support-btn:active {
    transform: scale(1.1);
  }
}