.header__burger-menu-img {
  width: 20px;
  height: 12px;
  flex-shrink: 0;
}

/* @media screen and (min-width: 1024px) {
  .header__burger-menu-img{
      display: none;
  }
} */


/* .header__burger-menu-img {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__burger-menu-img {
    display: block;
    width: 62px;
  }
} */